
#*
 * Copyright 2004 Anite - Central Government Division
 *    http://www.anite.com/publicsector
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#

 
<h1>$task.caption</h1>
$page.setTitle($task.Caption)

<form name="Summary" method="post" action="$link.setAction("myFirstWorkflow.SummaryAction")">

##set ($name = $form.Fields.get("name"))
##set ($age = $form.Fields.get("age"))
<p>Hello $name</p>
<p>You are $age years old</p>
<p>and you are going to expire on $expiry</p>
<input type="submit" name="done" value="Done" />
</form>