#*
 * Copyright 2004 Anite - Central Government Division
 *    http://www.anite.com/publicsector
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#
 
<h2>Permission Maintenance</h2>
<p>
The page allows you to add and remove users and also allows you to change the groups users are allocated.
</p>
<form method="post" id="permmaintform" action="$link.setAction('security.ViewPermissionMaintenance')" method="post"> 

## Input fied that holds which select box has been chosen
<p><input type="hidden" id="select" name="select" /></p>

<table id="permissionTable" summary="User Permission modification" class="basic">
  <tr>
    <th colspan="2">Permission Maintainance</th>
  </tr>
  <tr>
    <td colspan="2">Groups</td>
  </tr>
  <tr>  
    <td>
      <select name="groupid" size="5" onchange="changeValue('select', 'group');submitForm('permmaintform')">
        #foreach ($group in $groups)          
          #if($group.id == $selectedgroup.id )
          	<option value="$group.id" selected="selected">$group.name</option>       
          #else
          	<option value="$group.id">$group.name</option>
          #end
        #end
      </select>
    </td>
    <td>
    </td>
  </tr>
  <tr>
    <td>Allocated Roles</td>
    <td>Available Roles</td>
  </tr>
  <tr>
    <td>
      <select name="allocatedroles"size="5" onchange="changeValue('select', 'role');submitForm('permmaintform')">
        #foreach ($role in $allocatedroles)
          #if($role.id == $selectedrole.id )
          	 <option value="$role.id" selected="selected">$role.name</option>
          #else
          	 <option value="$role.id">$role.name</option>
          #end
        #end
      </select>
    </td>
    <td>
      <select name="availableroles" size="5">
        #foreach ($role in $availableroles)
          <option value="$role.id">$role.name</option>
        #end
      </select>
    </td>
  </tr>
  <tr>
  	<td>
  	  <input type="submit" name="doremoverole" value="--&gt;" onclick="changeFormAction('permmaintform', '$link.setAction('security.ChangeGroupRole').setPage('security,PermissionMaintenance.vm')')" />
  	</td>  
  	<td>
  	  <input type="submit" name="doaddrole" value="&lt;--"  onclick="changeFormAction('permmaintform', '$link.setAction('security.ChangeGroupRole').setPage('security,PermissionMaintenance.vm')')"/>
  	</td>  
  </tr>  
  <tr>
    <td>Allocated Permissions</td>
    <td>Available Permissions</td>
  </tr>
  <tr>
    <td>
      <select name="allocatedperms" size="5">
        #foreach ($permission in $allocatedperms)
          <option value="$permission.id">$permission.name</option>
        #end
      </select>
    </td>
    <td>
      <select name="availableperms" size="5">
        #foreach ($permission in $availableperms)
          <option value="$permission.id">$permission.name</option>
        #end
      </select>
    </td>
  </tr>
  <tr>
  	<td>
  	  <input type="submit" name="doremoveperm" value="--&gt;" onclick="changeFormAction('permmaintform', '$link.setAction('security.ChangeRolePermission').setPage('security,PermissionMaintenance.vm')')"/>
  	</td>  
  	<td>
  	  <input type="submit" name="doaddperm" value="&lt;--" onclick="changeFormAction('permmaintform', '$link.setAction('security.ChangeRolePermission').setPage('security,PermissionMaintenance.vm')')"/>
  	</td>  
  </tr>
</table>
</form>





